@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h4>@ViewData["email"]</h4>

<p>HomeControllerTest</p>



<address>
    <strong>More information: </strong> <a href="http://educandoweb.com.br">Educandoweb.com.br</a>
</address>
<p>@ViewData["PhoneNumber"]</p>
